figure {
    display: inline-block;
    margin: 2px 2px 2px 2px;
    background-color: rgb(241, 241, 241);
    border: 1px solid #ccc;
}
figure img {
    display: block;
    width: 100%;
    margin: 0px 0px 2px 0px;
}
figcaption {
    font-size: 0.8em;
    text-align: center;
}
.scale-img {
    transition-duration: 0.1s; /*変化の時間*/
}
.scale-img:hover {
    transform: scale(1.05, 1.05); /*画像の拡大*/
    cursor: pointer; /*カーソルをポインターにする*/
}
#container{
    display: grid;
    grid-template-columns: repeat(11, 110px);
    column-gap: 4px;
    row-gap: 4px;
}
